<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for vehicle in vehicles %}
        <li>
            <h2>{{ vehicle.name }}</h2>
            <p>Precio: {{ vehicle.price }}</p>
            <p>{{ vehicle.description }}</p>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
</body>
</html>
